In [5]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

36

In [9]:
1var = 10

SyntaxError: invalid syntax (4256868957.py, line 1)

In [10]:
val2@ = 35

SyntaxError: invalid syntax (3636076842.py, line 1)

In [11]:
import = 125

SyntaxError: invalid syntax (4166699667.py, line 1)

In [12]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
val = 10
val

10

In [19]:
val = 99
val

99

In [25]:
'''
 this is my test for variable - incorrect case kw
 thuff
 hhy
'''

import1 = 10
import1

10

In [28]:
 # single line statement
p1 = 10 + 20
p1

30

In [47]:
p2 = ['a', 'b','c', 'd']
p2

['a', 'b', 'c', 'd']

In [32]:
p = 10
ifp = 10
print ('p is equal to 10')

p is equal to 10

In [266]:
p = 10
if p == 10:
     print ('p is equal to 10')

p is equal to 10

In [38]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [267]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [42]:
for i in range(0,5): print(i)

0
1
2
3
4

In [272]:
j=20
for i in range(0,5):
    print(i) # inside the for loop
print(j) # outside he for loop

0
1
2
3
4
20

In [277]:
def square(num):
     '''Square Function :- This function will return the square of a number'''
     return num**2

In [276]:
  square(2)

4

In [302]:
square(5)

25

In [298]:
def calPercent(curValue,NewValue):
    return (NewValue-curValue)*100/curValue

In [299]:
a=calPercent(100,150)
print(a)
b=calPercent(100,120)
b
c=calPercent(1000,900)
c
d=calPercent(1796,1875)
d

50.0

4.398663697104677

In [300]:
def currencyexchnage(currency):
    return 20*currency

In [301]:
currencyexchnage(15000)

300000

In [305]:
def landcent(cent):
    return 48.4*cent

In [307]:
landcent(6.7)

324.28

In [308]:
def calculation(a,b):
    return (a*b)

In [309]:
calculation(1600,1500)

2400000

In [312]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd '''
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd Number")

In [318]:
evenodd(-2)

Even number

In [ ]:
p = 30

In [319]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
 - Guaranteed to be unique
 - Constant for this object during its lifetime. 
'''
id(p)

2297720891984

In [74]:
hex(id(p)) # Memory address of the variable

'0x216fad66a50'

In [326]:
p = 20 
q = 20 
r = q
p,type(p),hex(id(p))

(20, int, '0x216fad66b90')

In [77]:
q, type(q), hex(id(q))

(20, int, '0x216fad66b90')

In [78]:
r, type(r),hex(id(r))

(20, int, '0x216fad66b90')

In [327]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [80]:
intvar = 10
floatvar = 2.57
strvar ="Python Language"

print(intvar)
print(floatvar) 
print(strvar)

10
2.57
Python Language

In [81]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

In [332]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an i

10
<class 'int'>
28
10  is Integer? True

In [83]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is a an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [84]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an inst

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [334]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [336]:
sys.getsizeof(float()) # size of float object in bytes

24

In [87]:
sys.getsizeof(complex()) # size of complex object in bytes

32

In [337]:
bool1 = True
bool1

140719859226728

In [91]:
bool2 = False
bool2

False

In [92]:
print(type(bool1))

<class 'bool'>

In [93]:
print(type(bool2))

<class 'bool'>

In [94]:
isinstance(bool1,bool)

True

In [95]:
bool(0)

False

In [96]:
bool(1)

True

In [339]:
bool(None)

False

In [99]:
bool(False)

False

In [357]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [101]:
mystr = 'Hello World' # Define string using single quotes
mystr

'Hello World'

In [102]:
mystr = "Hello World" # Define string using double quotes
mystr

'Hello World'

In [341]:
mystr = '''Hello 
 World ''' # Define string using triple quotes
print(mystr)

Hello
 World

In [345]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [344]:
len(mystr2) # Length of string

60

In [106]:
str1

'HELLO PYTHON'

In [108]:
str1[0] # First character in string "str1"

'H'

In [109]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [110]:
str1[-1] # Last character in string

'N'

In [111]:
str1[6] #Fetch 7th element of the string

'P'

In [112]:
str1[5]

' '

In [113]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl

'HELLO'

In [114]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex

'PYTHON'

In [115]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [116]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [117]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [349]:
str1[:6] # Retreive first six characters of the string

'HELLO '

In [350]:
str1

'HELLO PYTHON'

In [351]:
#Strings are immutable which means elements of a string cannot be changed once th
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [359]:
del str1 # Delete a string
print(srt1)

NameError: name 'str1' is not defined

In [355]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
s3

'HelloAsif'

In [124]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
s3

'Hello Asif'

In [361]:
mystr1 = "Hello Everyone"

In [128]:
# Iteration 
for i in mystr1:
     print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [129]:
for i in enumerate(mystr1):
 print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [130]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and retu

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [131]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in s
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string

True
True
False

In [364]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") 
L

('Natural language processing with Python ', 'and', ' R and Java')

In [133]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and") 
L

('Natural language processing with Python and R ', 'and', ' Java')

In [365]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [366]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [136]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [137]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [367]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [368]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [141]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [142]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [371]:
mystr2 = " Hello Everyone "

In [145]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [146]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [372]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [148]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [375]:
mystr5 = "one two Three one two two three "

In [151]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [152]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [377]:
mystr5.endswith("three ") # Return boolean value True if string ends with "three"

True

In [378]:
mystr4 = ("one two three four one two two three five five six seven six seven one ")
mystr4

'one two three four one two two three five five six seven six seven one '

In [381]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [383]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
 
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [162]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"

print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [163]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific
print(str2)

                                          WELCOME EVERYONE

In [167]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character
str2

'***************************************** WELCOME EVERYONE *****************************************'

In [168]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the 
str2

'                                 WELCOME EVERYONE '

In [169]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*
str2

'******************************** WELCOME EVERYONE '

In [170]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
loc

19

In [171]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
loc

19

In [172]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9

False
True
True
True

In [173]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [174]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [175]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [176]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [385]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [386]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [183]:
txt = " abc def ghi "

txt.rstrip()

' abc def ghi'

In [184]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [185]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

In [388]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

In [389]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
mystr

'My favourite series is "Game of Thrones"'

In [190]:
list1 = [] # Empty List
print(type(list1))

<class 'list'>

In [192]:
list2 = [10,30,60] # List of integers numbers

In [ ]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [193]:
list4 = ['one','two' , "three"] # List of strings

In [194]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [195]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [196]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [197]:
len(list6) #Length of list

3

In [198]:
list2[0] # Retreive first element of the list

10

In [199]:
list4[0] # Retreive first element of the list

'one'

In [200]:
list4[0][0] # Nested indexing - Access the first character of the first list elem

'o'

In [201]:
list4[-1] # Last item of the list

'three'

In [202]:
list5[-1] # Last item of the list

[150, 90]

In [203]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [204]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [205]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [206]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [207]:
mylist[:2] # Return first two items

['one', 'two']

In [208]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [209]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [210]:
mylist[-1] # Return last item of the list

'eight'

In [211]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [212]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [214]:
mylist.append('nine') # Add an item to the end of the list 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [215]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [216]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [217]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [218]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [219]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [220]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'ten']

In [221]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'ten']

In [390]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [391]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

In [233]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine',]
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [232]:
mylist1 = [1,2,3,4,5,6]
mylist1

[1, 2, 3, 4, 5, 6]

In [ ]:
mylist1 = mylist # Create a new reference "mylist1"

In [234]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(2295693957376, 2295694391040)

In [ ]:
mylist2 = mylist.copy() # Create a copy of the list

In [235]:
mylist2 = [3,4,5,6,7,8]
mylist2

[3, 4, 5, 6, 7, 8]

In [236]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2295695000320

In [ ]:
mylist[0] = 1

In [237]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [238]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 2, 3, 4, 5, 6]

In [239]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

[3, 4, 5, 6, 7, 8]

In [240]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [241]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [242]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [243]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [244]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original li

[11, 21, 33, 65, 88, 98]

In [245]:
mylist4

[88, 65, 33, 21, 11, 98]

In [246]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [248]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [249]:
for i in enumerate(list1):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [251]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [252]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [253]:
list10.count('two') # Occurence of item 'two' in the list

2

In [254]:
list10.count('four') #Occurence of item 'four' in the list

1

In [ ]:
All / Any
The all() method returns:
True - If all elements in a list are true
False - If any element in a list is false
The any() function returns True if any element in the list is True. If not, any() returns False.

In [256]:
L1 = 1,2,3,4,0
all(L1) # Will Return false as one value is false (Value 0)

False

In [257]:
any(L1) # Will Return True as we have items in the list with True value

True

In [258]:
L2 = [1,2,3,4,True,False]
all(L2) # Returns false as one value is false

False

In [259]:
any(L2) # Will Return True as we have items in the list with True value

True

In [260]:
L3 = [1,2,3,True]
all(L3) # Will return True as all items in the list are True

True

In [261]:
any(L3) # Will Return True as we have items in the list with True value

True

In [ ]:
List Comprehensions

List Comprehensions provide an elegant way to create new lists.
It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses

In [392]:
mystring = "WELCOME"
mylist = [i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [393]:
mylist = [i for i in range(40) if i % 2 == 0]
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [394]:
mylist = [i for i in range(40) if i % 2 == 1]
mylist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [395]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [396]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [405]:
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [421]:
for i in range(10):
    if i%2==0:
        print("{} is Even Number".format(i))
    else:
        print("{} is odd number".format(i))

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [425]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [426]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [428]:
tup1 = () # Empty tuple

In [429]:
tup2 = (10,30,60)

In [430]:
tup3 = (10.77,30.66,60.89)

In [431]:
tup4 = ('one','two' , "three") # tuple of strings

In [432]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples

In [434]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [435]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [436]:
len(tup7) #Length of list

6

In [438]:
tup2[0] # Retreive first element of the tuple

10

In [440]:
tup4[0] # Retreive first element of the tuple

'one'

In [441]:
mytuple= ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [442]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [445]:
if 'ten' in mytuple:
    print('Ten avaiable')
else:
     print('Ten not avaiable')

Ten not avaiable

In [449]:
sorted(mytuple, reverse= True)

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']

In [451]:
myset = {1,2,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [453]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [ ]:
print(type(myset3))

In [461]:
myset1=set((1,3,2))
myset1

{1, 2, 3}

In [462]:
 A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [463]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [475]:
empData = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}

In [480]:
empData['DOB']

1991

In [470]:
empData

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [471]:
empData={1,2,(2,8)}

In [481]:
for i in empData:
    print(empData[i])

Asif
74123
1991
Analyst

In [482]:
i:i*2
i:i*2
i:i*2
i:i*2

range(0, 10)